table {
    border-collapse: collapse;
    width: 55%;
    height: 100vh;
}

th,td {
    border: 1px solid black;
    text-align: center;
    height: 25px;
    width: 25px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}